
 <!-- Contenido de acerca español -->
    <div class="column small-12" *ngIf="idioma === 'spanish'">
      <p>Mi nombre es Moisés Mannarino, me recibí de <b> Técnico Superior en Analisis de Sistemas </b> en el Instituto Superior de Informática Virasoro .</p>
      <p>Me especialice en el stack mean, creo tener muy buen nivel de javascript en general, tambien manejo el framework angular,y del lado del backend node js y express js, base de datos mongo DB</p>
      <p>Tambien se de maquetacion, animanciones web, puedo contruir una aplicacion completa, desde el frontend hasta el backed, la comunicacion entre las partes,la logica, la estructura del software etc.</p>
      <p>Tambien domino el ingles escrito en gran nivel, pudiendo leer libros, articulos, tutoriales, en ingles, tener charlas en vivo y en directo en ingles con personas de cualquier parte del mundo a traves de chat ingles escrito, en ingles hablando no.</p>
      <p>En el pasado tambien estudie , hice cursos y cosas con otras tecnologias como php, mysql, react js, vue js, wordpress , etc.</p>
      <h5>Conoce mis perfiles</h5>
      <p>En la siguiente lista te paso mis perfiles de linkedin, github ,platzi.</p>
        <ul>
          <li>  
            Linkedin <a href="https://www.linkedin.com/in/moises-mannarino-3633a4106/" target="_blank">acceder</a>
          </li>
          <li>Platzi <a href="https://platzi.com/@MoisesMannarino/" target="_blank">acceder</a></li>
          <li>Github <a href="https://github.com/Mannarino" target="_blank">acceder</a></li>
          <li>Educacion IT <a href="https://www.educacionit.com/perfil/moises-mannarino-49216" target="_blank">acceder</a></li>
        </ul>
      <p class="callout primary">"solo conosco una manera de hacer 
         las cosas: <br>
          hacerlas bien!"
      </p>
    </div>

  <!-- /Contenido de acerca -->
  <!-- contenido en caso de error de undefined de la variable idioma -->
  <div class="column small-12" *ngIf="idioma === ''">
    <p>Mi nombre es Moisés Mannarino, me recibí de <b> Técnico Superior en Analisis de Sistemas </b> en el Instituto Superior de Informática Virasoro .</p>
    <p>Me especialice en el stack mean, creo tener muy buen nivel de javascript , tambien manejo abanzado del framework angular,y del lado del backend node js y express js, base de datos mongo DB</p>
    <p>Tambien se de maquetacion, animanciones web, puedo contruir una aplicacion completa, desde el frontend hasta el backed, la comunicacion entre las partes,la logica, la estructura del software etc.</p>
    <p>Manejo de protocolos de autorizacion y autenticacion como jwt y OAuth 2.0</p>
    <p>Tambien domino el ingles escrito en gran nivel, pudiendo leer libros, articulos, tutoriales, en ingles, tener charlas en vivo y en directo en ingles con personas de cualquier parte del mundo a traves de chat ingles escrito, en ingles hablando no.</p>
    <p>En el pasado tambien estudie , hice cursos y cosas con otras tecnologias como php, mysql, react js, vue js, wordpress , etc.</p>
    <h5>Conoce mis perfiles</h5>
    <p>En la siguiente lista te paso mis perfiles de linkedin, github ,platzi.</p>
      <ul>
        <li>  
          Linkedin <a href="https://www.linkedin.com/in/moises-mannarino-3633a4106/" target="_blank">acceder</a>
        </li>
        <li>Platzi <a href="https://platzi.com/@MoisesMannarino/" target="_blank">acceder</a></li>
        <li>Github <a href="https://github.com/Mannarino" target="_blank">acceder</a></li>
        <li>Educacion IT <a href="https://www.educacionit.com/perfil/moises-mannarino-49216" target="_blank">acceder</a></li>
      </ul>
    <p class="callout primary">"solo conosco una manera de hacer 
       las cosas: <br>
        hacerlas bien!"
    </p>
  </div>
  <!-- Contenido de acerca norteamericano -->
 
  <div class="column small-12" *ngIf="idioma === 'english'">
    <p>My name is Moisés Mannarino, and I graduated as a Higher <b>Technician in Systems Analysis</b> from the Virasoro Institute of Higher Informatics.</p>
    <p>I specialize in the MEAN stack and believe I have a strong overall level of JavaScript. I am also proficient in the Angular framework on the frontend and Node.js with Express.js on the backend, along with MongoDB as the database.</p>
    <p>I also have expertise in web design, web animations, and can build a complete application from frontend to backend, including communication between the different parts, logic, and software structure, among others.</p>
    <p>I also have advanced written English skills, allowing me to read books, articles, and tutorials in English. I can engage in real-time written conversations in English through chat, although I am not fluent in spoken English.</p>
    <p>In the past, I have also studied, taken courses, and worked with other technologies such as PHP, MySQL, React.js, Vue.js, WordPress, and more.</p>
    <h5>Get to know my profiles</h5>
    <p>In the following list, I'm sharing my profiles on LinkedIn, GitHub, Platzi</p>
      <ul>
        <li>  
          Linkedin <a href="https://www.linkedin.com/in/moises-mannarino-3633a4106/" target="_blank">acceder</a>
        </li>
        <li>Platzi <a href="https://platzi.com/@MoisesMannarino/" target="_blank">acceder</a></li>
        <li>Github <a href="https://github.com/Mannarino" target="_blank">acceder</a></li>
        <li>Educacion IT <a href="https://www.educacionit.com/perfil/moises-mannarino-49216" target="_blank">acceder</a></li>
      </ul>
    <p class="callout primary">"I only know one way to do things: <br>
      do them well!"
    </p>
  </div>

<!-- /Contenido de acerca -->