
<!-- title-->
<div  class="alert alert-primary" role="alert">
    log in
  </div>
  <!--end title-->
  
  
  <!-- form grup-->
  <form [formGroup]="form">
    <!-- input user name-->
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">user name</label>
      <input type="text" class="form-control" formControlName="username" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <!--end input user name-->
    <!-- input password-->
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">password</label>
      <input type="email" class="form-control" (keydown.enter)="enterEvent()" formControlName="password" id="exampleFormControlInput1" >
    </div>
    <!--end input password-->
    <!-- button of login-->
    <div class="login-botones">
      <button type="button" class="button"
         (click)="login()">loguin</button>
    </div>
    <!--end button of login-->
  </form>
  <!--end form grup-->
  <img *ngIf="imgCargando" src="./assets/cargando.gif" />
  <!-- messages of validation-->
  <div class="alert alert-danger" *ngIf="LoggedBadly" role="alert">
   incorrect log in, your password or email is wrong,
   try again
  </div>
  <div class="alert alert-danger" *ngIf="serverInternalError" role="alert">
    the server is not working right now, some problem are happening, try more later
   </div>
  
  <!-- end messages of validation-->