
 <!-- Contenido de acerca español -->
 <div class="row">
    <div class="column small-12" >
      <p [innerHTML]="'aboutMe.name' | translate"></p>
      <p>{{ 'aboutMe.specialization' | translate }}</p>
      <p>{{ 'aboutMe.skills' | translate }}</p>
      <p>{{ 'aboutMe.languages' | translate }}</p>
      <p>{{ 'aboutMe.otherTechnologies' | translate }}</p>
      <h5>{{ 'aboutMe.profiles.title' | translate }}</h5>
      <ul>
        <li><a href="https://www.linkedin.com/in/moisesmannarino/" target="_blank">{{ 'aboutMe.profiles.linkedin' | translate }}</a></li>
        <li><a href="https://github.com/moisesmannarino" target="_blank">{{ 'aboutMe.profiles.github' | translate }}</a></li>
        <li><a href="https://platzi.com/p/moisesmannarino/" target="_blank">{{ 'aboutMe.profiles.platzi' | translate }}</a></li>
        <li><a href="https://www.educacionit.com/" target="_blank">{{ 'aboutMe.profiles.educacionIT' | translate }}</a></li>
      </ul>
    
      <p [innerHTML]=" 'aboutMe.quote'| translate" class="callout primary">
      </p>
    </div>
 </div>
    

    
    
    
    
    
    
 


<!-- /Contenido de acerca -->